<component name="ArtifactManager">
  <artifact type="exploded-ear" name="spring-jpa:ear exploded">
    <output-path>$PROJECT_DIR$/out/artifacts/spring_jpa_ear_exploded</output-path>
    <root id="root">
      <element id="javaee-facet-resources" facet="spring-jpa/javaeeApplication/javaEEApplication" />
    </root>
  </artifact>
</component>